<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYviM-_S4SHZPWan4Tp7eRHsJdv5gVv3k</string>
	<key>GCM_SENDER_ID</key>
	<string>234614625321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.annapardaan</string>
	<key>PROJECT_ID</key>
	<string>annapardaan</string>
	<key>STORAGE_BUCKET</key>
	<string>annapardaan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234614625321:ios:a1c3dc5bfb9df77bcd3838</string>
</dict>
</plist>